**/myvenv
**/venv
**/.env
**/.env.*
**/.venv

**/__pycache__/
**/.coverage
**/.coverage.*
**/.cache
**/.pytest_cache/

**/.idea/
**/.vscode/
**/*.code-workspace

**/.DS_Store

**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini

**/*.log

**/*.local